<md-content layout="row" layout-align="start center" layout-wrap
     ng-init="items = [1,2,3,4,5,6,7,8,9,10,11]">
	<md-card ng-repeat="i in items" flex-sm='95' flex-md='45' flex-lg='30', flex-gt-lg='30'>
		<md-card-content>
			<h2 class="md-title">Paracosm {{i}}</h2>
			<p>
			The titles of Washed Out's breakthrough song and the first single from Paracosm share the
			two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
			</p>
		</md-card-content>
		<div class="md-actions" layout="row" layout-align="end center">
			<md-button>Action 1</md-button>
			<md-button>Action 2</md-button>
		</div>
	</md-card>
</md-content>